
* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#3e141466, rgba(62, 20, 20, 0.4)), url($default-path);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}